<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781784696017-k58588i134jdlpge04bvonn0u1jpm70r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781784696017-k58588i134jdlpge04bvonn0u1jpm70r</string>
	<key>API_KEY</key>
	<string>AIzaSyAVHmgtIk3wa4TSRMOvYV0QGfc1nXU9ud0</string>
	<key>GCM_SENDER_ID</key>
	<string>781784696017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cengizhandumlu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-f22a0</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-f22a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781784696017:ios:853b83b5e0b3307c9d71f0</string>
</dict>
</plist>